* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: "Arial", "HelventicaNeue", helventica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;   
    }

header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px; 
}

nav {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px; 
}

#outer {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px; 
    width: 50%;
    float: left;
    height: 300px;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}

#inner1 {
    color: #777;
    background: #ebebeb;
    margin: 20px;
    padding: 20px;
}

#inner2 {
    color: #777;
    background: #ebebeb;
    margin: 20px;
    padding: 20px;
}

aside {
    background: #ebebeb;
    margin-bottom: 20px; 
    width: 49%;
    float: right;
    height: 300px;
    padding: 20px;
}

footer {
    background: #ebebeb;
    padding: 20px;
    overflow: auto;
    width: 100%;
}